.img-content {
  object-fit: fill;
}

.text-white {
  font-weight: bold;
  color: whitesmoke;
}

.text-center{
  text-align: center;
}

.td-time {
  background-color: white;
  padding: 10px 10px;
  border-radius: 20%;
  color: #555555;
}

.carousel-item {
  height: 100vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.br {
  border-radius: 2%;
}

.bg-blue {
  background: #007bff;
}

.bg-white {
  background: white;
}

.bold {
  font-weight: bold;
}

.diskon{
  text-decoration: line-through;
}

section.pricing {
  background: white;
}

.pricing .card {
  background-color: #f9fbfc;
  border: none;
  border-radius: 1rem;
  transition: all 0.2s;
  box-shadow: 0 1rem 2rem 0 rgba(0, 0, 0, 0.1);
}

.pricing hr {
  margin: 1.5rem 0;
}

.pricing .card-title {
  margin: 0.5rem 0;
  font-size: 0.9rem;
  letter-spacing: .1rem;
  font-weight: bold;
}

.pricing .card-price {
  font-size: 3rem;
  margin: 0;
}

.pricing .card-price .period {
  font-size: 0.8rem;
}

.pricing ul li {
  margin-bottom: 1rem;
}

.pricing .text-muted {
  opacity: 0.7;
}

.pricing .btn {
  font-size: 80%;
  border-radius: 5rem;
  letter-spacing: .1rem;
  font-weight: bold;
  padding: 1rem;
  opacity: 0.7;
  transition: all 0.2s;
}

/* Hover Effects on Card */

@media (min-width: 992px) {
  .pricing .card:hover {
    margin-top: -.25rem;
    margin-bottom: .25rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
  }

  .pricing .card:hover .btn {
    opacity: 1;
  }
}

body {
  // font-family:Helvetica;
  background: #007bff;
  background: linear-gradient(to bottom, #0062E6, #33AEFF);
  // background: whitesmoke;
}

.bg-image {
  background-image: url('https://source.unsplash.com/kKvQJ6rK6S4/660x1000');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

a {
  text-decoration: none
}

h4 {
  text-align: center;
  margin: 30px 0;
  color: #444
}


.footer {
  // font-family:Helvetica;
  background: #007bff;
  background: linear-gradient(to right, #002a61, #005186);
  // background: whitesmoke;
}


.modal-open {
  overflow: hidden;
}

.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  outline: 0;
}

.modal-dialog {
  position: relative;
  width: auto;
  margin: 0.5rem;
  pointer-events: none;
}

.modal.fade .modal-dialog {
  transition: transform 0.3s ease-out;
  transform: translate(0, -50px);
}

@media (prefers-reduced-motion: reduce) {
  .modal.fade .modal-dialog {
    transition: none;
  }
}

.modal.show .modal-dialog {
  transform: none;
}

.modal.modal-static .modal-dialog {
  transform: scale(1.02);
}

.modal-dialog-scrollable {
  display: flex;
  max-height: calc(100% - 1rem);
}

.modal-dialog-scrollable .modal-content {
  max-height: calc(100vh - 1rem);
  overflow: hidden;
}

.modal-dialog-scrollable .modal-header,
.modal-dialog-scrollable .modal-footer {
  flex-shrink: 0;
}

.modal-dialog-scrollable .modal-body {
  overflow-y: auto;
}

.modal-dialog-centered {
  display: flex;
  align-items: center;
  min-height: calc(100% - 1rem);
}

.modal-dialog-centered::before {
  display: block;
  height: calc(100vh - 1rem);
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  content: "";
}

.modal-dialog-centered.modal-dialog-scrollable {
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.modal-dialog-centered.modal-dialog-scrollable .modal-content {
  max-height: none;
}

.modal-dialog-centered.modal-dialog-scrollable::before {
  content: none;
}

.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
  outline: 0;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: #000;
}

.modal-backdrop.fade {
  opacity: 0;
}

.modal-backdrop.show {
  opacity: 0.5;
}

.modal-header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 1rem 1rem;
  border-bottom: 1px solid #e3e6f0;
  border-top-left-radius: calc(0.3rem - 1px);
  border-top-right-radius: calc(0.3rem - 1px);
}

.modal-header .close {
  padding: 1rem 1rem;
  margin: -1rem -1rem -1rem auto;
}

.modal-title {
  margin-bottom: 0;
  line-height: 1.5;
}

.modal-body {
  position: relative;
  flex: 1 1 auto;
  padding: 1rem;
}

.modal-footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  padding: 0.75rem;
  border-top: 1px solid #e3e6f0;
  border-bottom-right-radius: calc(0.3rem - 1px);
  border-bottom-left-radius: calc(0.3rem - 1px);
}

.modal-footer > * {
  margin: 0.25rem;
}

.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 500px;
    margin: 1.75rem auto;
  }
  .modal-dialog-scrollable {
    max-height: calc(100% - 3.5rem);
  }
  .modal-dialog-scrollable .modal-content {
    max-height: calc(100vh - 3.5rem);
  }
  .modal-dialog-centered {
    min-height: calc(100% - 3.5rem);
  }
  .modal-dialog-centered::before {
    height: calc(100vh - 3.5rem);
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
  }
  .modal-sm {
    max-width: 300px;
  }
}

@media (min-width: 992px) {
  .modal-lg,
  .modal-xl {
    max-width: 800px;
  }
}

@media (min-width: 1200px) {
  .modal-xl {
    max-width: 1140px;
  }
}

.panduan{
  color: white;
}

.logo{
   font-family: 'Brush Script MT';
}


.wave{
  clip-path: polygon(100% 0%, 0% 0% , 0% 60%, 1% 59.95%, 2% 59.9%, 3% 59.75%, 4% 59.55%, 5% 59.25%, 6% 58.95%, 7% 58.6%, 8% 58.15%, 9% 57.7%, 10% 57.2%, 11% 56.65%, 12% 56.05%, 13% 55.4%, 14% 54.75%, 15% 54.05%, 16% 53.35%, 17% 52.6%, 18% 51.85%, 19% 51.1%, 20% 50.3%, 21% 49.55%, 22% 48.8%, 23% 48.05%, 24% 47.3%, 25% 46.55%, 26% 45.85%, 27% 45.15%, 28% 44.5%, 29% 43.85%, 30% 43.3%, 31% 42.75%, 32% 42.2%, 33% 41.75%, 34% 41.35%, 35% 41%, 36% 40.7%, 37% 40.45%, 38% 40.25%, 39% 40.1%, 40% 40%, 41% 40%, 42% 40.05%, 43% 40.15%, 44% 40.3%, 45% 40.5%, 46% 40.8%, 47% 41.1%, 48% 41.5%, 49% 41.9%, 50% 42.4%, 51% 42.9%, 52% 43.45%, 53% 44.05%, 54% 44.7%, 55% 45.35%, 56% 46.05%, 57% 46.8%, 58% 47.5%, 59% 48.25%, 60% 49.05%, 61% 49.8%, 62% 50.55%, 63% 51.35%, 64% 52.1%, 65% 52.85%, 66% 53.55%, 67% 54.25%, 68% 54.95%, 69% 55.6%, 70% 56.25%, 71% 56.8%, 72% 57.35%, 73% 57.85%, 74% 58.3%, 75% 58.7%, 76% 59.05%, 77% 59.35%, 78% 59.6%, 79% 59.8%, 80% 59.9%, 81% 60%, 82% 60%, 83% 59.95%, 84% 59.85%, 85% 59.7%, 86% 59.45%, 87% 59.15%, 88% 58.85%, 89% 58.45%, 90% 58%, 91% 57.55%, 92% 57%, 93% 56.45%, 94% 55.85%, 95% 55.2%, 96% 54.5%, 97% 53.8%, 98% 53.1%, 99% 52.35%, 100% 51.6%);
}

.btn-info{
  background-color: white;
  color: #007bff;
  border-radius: 50;
  border: none;
  padding: 10px 40px; 
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  border-radius: 50px;
}

.btn-info:hover{
  background-color: white;
  color: #007bff;
  border-radius: 50;
  border: none;
  padding: 10px 40px; 
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  border-radius: 50px;
}


.center {
  margin: auto;
  width: 50%;
  padding: 10px;
}

.text{
  color: #555555;
}


.foto {
  background: linear-gradient(to bottom, #0062E6, #33AEFF);
}